<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">  <!-- parallel=tests runs all tests in parallely -->
 <listeners>
 <listener class-name="Academy.Listeners"></listener>
 </listeners>
 
  <test thread-count="5" name="Test1">  <!-- Note: if we put all classes under one test then 'AfterTest annotation runs after all classes that's why divided classes -->
    	<classes>
      		<class name="Academy.validateFeatureTitle"/>
      	</classes>
      </test>
      <test name="Test2">
      <classes>
      		  <class name="Academy.HomePageTest"/>
      	</classes>
      
      </test>
     <test name="Test3">
      <classes>
      		      <class name="Academy.validateNavigationbar"/>
      	</classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
